* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;
    padding: 5rem 10% 2rem;
}
body {
    background: #f4f0eb;
    color: #223559;
    line-height: 1.6;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: #f0eae3;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(34, 53, 89, 0.1);
}
.logo {
    font-size: 20px;
    color: #223559;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 12px;
    color: #6a7d90;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: #223559;
}
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
}
.home-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color:#223559;
}
.home-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color:#223559;
}
.home-content p {
    font-size: 15px;
    line-height: 1.7;
    max-width: 500px;
    color: #6A7D90;
}
.home-icon {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}
.home-icon img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 0.3s;
}
.home-icon a:hover img {
    transform: scale(1.2);
}

.education {
    background-color: #f0eae3;
    text-align: center;
}
.education h2{
    margin-bottom: 100px;
    font-size: 2rem;
    color: #223559;
}
.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.education-box {
    flex: 1;
    background-color: #ffffffdf;
    border-radius: 1.2rem;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid transparent;
    transition: .3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    min-width: 220px;
    height: 360px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.education-box:hover {
    border-color: #223559;
    transform: translateY(-5px);
}
.education-box h3 {
    font-size: 15px;
    margin-bottom: 0.8rem;
    color: #223559;
}
.education-box p {
    font-size: 14px;
    color: #6a7d90;
}
.education-box::-webkit-scrollbar{
    display: none;
}

.heading {
    font-size: 24px;
    margin-bottom: 3rem;
    text-align: center;
    color: #223559;
}
.projects {
    background: #f4f0eb;
}
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}
.project-box {
    width: 90%;
    background-color: #ffffffdf;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid transparent;
    transition: .5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.project-box:hover {
    border-color: #223559;
    transform: scale(1.02);
}
.project-box h3 {
    font-size: 15px;
    margin-bottom: 1rem;
    color: #223559;
}
.project-box p {
    font-size: 14px;
    color: #6a7d90;
}

.contact {
    background-color: #f0eae3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 10% 4rem;
}
.contact-info-card {
    background: #ffffffdf;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
    font-style: normal;
}
.info-item {
    text-align: center;
}
.info-item p {
    font-size: 15px;
    color: #6A7D90;
    margin-top: 5px;
    font-weight: 500;
}
.info-item img {
    width: 20px;
    margin-bottom: 5px;
}
.social-icons-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    border-top: 1px solid #ffffffdf;
    padding-top: 20px;
}
.social-icons-row img {
    width: 25px;
    height: auto;
    transition: 0.3s;
}
.contact-form-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.contact-form-container h3 {
    margin-bottom: 1.5rem;
    font-size: 20px;
    color: #6A7D90;
}
.input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.input-box {
    flex: 1;
    position: relative;
    margin-top: 10px;
}
.input-box input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffffdf;
    border-radius: 8px;
    background-color: #ffffffdf;
    outline: none;
    color: #223559;
    font-size: 14px;
    transition: 0.3s;
}
.input-box input:focus,
textarea:focus {
    border-color: #223559;
    box-shadow: 0 0 5px rgba(34, 53, 89, 0.1);
}
textarea {
    height: 120px;
    margin-bottom: 20px;
    resize: none;
    display: block;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn-submit {
    background-color: #223559;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-submit:hover {
    background: #6A7D90;
    transform: translateY(-3px);
}

.footer {
    padding: 10px 10%;
    background: #f0eae3;
    text-align: center;
    border-top: 1px solid rgba(34, 53, 89, 0.1);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.footer-logo .brand-name {
    font-size: 20px;
    color: #223559;
    font-weight: 600;
    margin: 0;
}
.footer-logo .tagline {
    display: none;
}
.footer-nav a {
    text-decoration: none;
    color: #6A7D90;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
    transition: .3s;
}
.footer-nav a:hover {
    color: #223559;
}
.footer-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}
.email-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #223559;
    font-size: 13px;
}
.footer-social-icons {
    display: flex;
    gap: 15px;
}
.footer-social-icons img {
    width: 18px;
    height: 18px;
    transition: 0.3s ease;
}
.footer-bottom {
    text-align: center;
    padding-top: 1px solid #EBE4DB;
}
.footer-bottom p {
    font-size: 12px;
    color: #6a7d90;
    margin: 0;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-nav a {
        margin: 0;
    }
    .footer-contact {
        flex-direction: column;
        gap: 20px;
    }
}